/*
	General styles
*/
html {
	font-size: 17px;
	font-family: monospace;
}
@media screen and (min-width: 70rem) {
	html {
		font-size: 19px;
	}
}

body {
	margin: 0;
}

button {
	padding: 0.7rem 0.8rem;
  background: transparent;
}
input {
	padding: 0.5rem;
	width: 100%;
	max-width: 17rem;
}

li {
	margin-bottom: 0.7rem;
}


/*
	Application concerns
*/

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	/* transition */
	background-color: lightgray;
	transition: background-color 700ms ease-in-out;
}
.App--exit {
	background-color: white;
}

.App-header {
	opacity: 1;
	transition: opacity 300ms ease-in, transform 300ms cubic-bezier(.6,-0.13,.45,1.06);
	transform: translateY(0);
}
.App-header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.App--exit .App-header {
	transform: translate(-10%, -140%);
	opacity: 0;
}

.App--exit .App-body {
	opacity: 0;
}
.App-body {
	opacity: 1;
	transition: opacity 200ms 300ms ease-out;
}

.Title {
	margin-top: 0;
	position: relative;
	text-decoration: none;
	font-size: 2rem;

	/* vertical align the image */
	display: flex;
}
.Title img {
	width: 7rem;
}
.Title h1 {
	display: none;
}

.Form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
	max-width: 21rem;
}
@media screen and (min-width: 30rem) {
	.Form {
		flex-wrap: nowrap;
	}
}

.Form button {
	/* push it from input, and stay visually centered on mobile */
	margin: 0.7rem;

  border: 2px solid white;
  border-right-color: gray;
  border-bottom-color: darkslategray;
  color: black;
  font-weight: bold;
  letter-spacing: 1.2px;
	padding: 1.2rem 1.2rem;
  font-size: 1rem;

	cursor: zoom-in;

}

.Form butto:active {
	background-color: #7ce5ff;
}

.App--exit .Form button {
	opacity: 0;
}

.Form input {
	-webkit-appearance: inherit;
	font-size: 1rem;
}

#Customs-table {
	border-collapse: separate;
	border-spacing: 2rem 0;
	text-align: left;
}

.Customs-deleter {
	cursor: pointer;
}
