/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
	General styles
*/
html {
	font-size: 17px;
	font-family: monospace;
}
@media screen and (min-width: 70rem) {
	html {
		font-size: 19px;
	}
}

body {
	margin: 0;
}

button {
	padding: 0.7rem 0.8rem;
  background: transparent;
}
input {
	padding: 0.5rem;
	width: 100%;
	max-width: 17rem;
}

li {
	margin-bottom: 0.7rem;
}


/*
	Application concerns
*/

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	/* transition */
	background-color: azure;
	transition: background-color 700ms ease-in-out;
}

.App-header {
	opacity: 1;
	transition: opacity 300ms ease-in, transform 300ms cubic-bezier(.6,-0.13,.45,1.06);
	transform: translateY(0);
}
.App-header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.App-body {
	opacity: 1;
	transition: opacity 200ms 300ms ease-out;
}

.Title {
	margin-top: 0;
	position: relative;
	text-decoration: none;
	font-size: 2rem;

	/* vertical align the image */
	display: flex;
}
.Title img {
	width: 7rem;
}
.Title h1 {
	display: none;
}

i4k-find form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
}
@media screen and (min-width: 30rem) {
	i4k-find form {
		flex-wrap: nowrap;
	}
}

i4k-find form button {
	/* push it from input, and stay visually centered on mobile */
	margin: 0.7rem;

  border: 2px solid white;
  border-right-color: gray;
  border-bottom-color: darkslategray;
  color: black;
  font-weight: bold;
  letter-spacing: 1.2px;
	padding: 0.6rem;
  font-size: 0.8rem;

	cursor: zoom-in;

}

i4k-find form button:active {
	background-color: #7ce5ff;
}

i4k-find form input {
	-webkit-appearance: inherit;
	font-size: 1rem;
}

#Customs-table {
	border-collapse: separate;
	border-spacing: 2rem 0;
	text-align: left;
}

i4k-find {
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}

i4k-find-info[open] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: aqua;
}

i4k-symbols-list {
	flex-direction: column;
}

i4k-find-info i4k-symbols-list {
	display: none;
}
i4k-find-info[open] i4k-symbols-list {
	display: flex;
	border: 1px solid lightgray;
	padding: 2rem;
}

i4k-find-info button {
	cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 2rem;
}


/* searched animations */
i4k-find-app[searched] {
	/* opacity: 0; */
}
i4k-find-app[searched] i4k-find-info {
	opacity: 0;
	transform: scale(0);
}
i4k-find-app[searched] i4k-find-logo {
	opacity: 0;
	transform: scale(2);
}
i4k-find-app[searched] i4k-find {
	opacity: 0;
}
i4k-find-app[searched] i4k-find input {
	font-size: 5vh;
	background-color: transparent;
	border-color: transparent;
	outline: none;
}
i4k-find-app[searched] i4k-find button {
	display: none;
}

i4k-find-app {
	opacity: 1;
	/* transition: opacity 300ms ease-in-out; */
}
i4k-find-app i4k-find-info {
}
i4k-find-app i4k-find-logo {
	opacity: 1;
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
i4k-find-app i4k-find {
	opacity: 1;
	transform: scale(1);
	transition: opacity 600ms ease-in-out, transform 400ms ease-in-out;
}
i4k-find-app i4k-find input {
	transition: background-color 200ms ease-in-out, font-size 400ms ease-in-out;;
}
